.content {
  height: 100vh;
  background: url("../../images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex-direction: column;
}
.content h1 {
  font-size: 4em;
  position: relative;
  bottom: 40px;
  font-weight: 300;
}
.content span {
  color: #ff0158;
}
.content p {
  bottom: 40px;
  position: relative;
  font-size: 24px;
  font-weight: 500;
}
.content #stuff {
  font-size: 18px;
  font-weight: 600;
  color: #696969;
  margin-top: 5px;
}
.content button {
  background: #ff0158;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 40px;
  width: 180px;
  height: 50px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s;
}
.content button:hover {
  background: #f5266e;
  transition: 0.5s;
  transform: scale(1.08);
  color: #f2f2f2;
}
